<div class="converter">
  <div>
    <input
      class="converter-input"
      type="number"
      (input)="inputHeandlerIn($event)"
      value="{{ valueIn.toFixed(2) }}"
    />
    <select class="converter-select" (change)="changeHeandlerIn($event)">
      <option *ngFor="let curIn of currencyInfoIn" value="{{ curIn.curRate }}">
        {{ curIn.curCountry }} - {{ curIn.curName }}
      </option>
    </select>
  </div>
  <div class="converter-arrow">↑↓</div>
  <div>
    <input
      class="converter-input"
      type="number"
      (input)="inputHeandlerOut($event)"
      value="{{ valueOut.toFixed(2) }}"
    />
    <select class="converter-select" (change)="changeHeandlerOut($event)">
      <option
        *ngFor="let curOut of currencyInfoOut"
        value="{{ curOut.curRate }}"
      >
        {{ curOut.curCountry }} - {{ curOut.curName }}
      </option>
    </select>
  </div>
</div>
