<div class="converter">
  <div>
    <input
      type="number"
      (input)="inputHeandlerIn($event)"
      value={{valueIn}}
    />
    <select name="" id="" (change)="changeHeandlerIn($event)">
      <option *ngFor="let cur of currencyInfo"  value={{cur.curRate}}>
        {{ cur.curCountry }} - {{ cur.curName }}
      </option>
    </select>
  </div>
  <div class="converter-arrow">↑ ↓</div>
  <div>
    <input
      type="number"
      (input)="inputHeandlerOut($event)"
      value={{valueOut}}
    />
    <select name="" id="" (change)="changeHeandlerOut($event)">
      <option *ngFor="let cur of currencyInfo" value={{cur.curRate}}>
        {{ cur.curCountry }}- {{ cur.curName }}
      </option>
    </select>
  </div>
</div>
